@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f6f7fb;
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
}

.page {
  max-width: 6xl;
  margin: 0 auto;
  padding: 4rem 1.5rem;
}
